<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.yxs.crm"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/crm001"/>
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="user" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <!--初始化SessionFactory对象-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="staffDao" class="com.yxs.crm.staff.dao.impl.StaffDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="staffService" class="com.yxs.crm.staff.service.impl.StaffServiceImpl">
        <property name="staffDao" ref="staffDao"/>
    </bean>
    <bean id="staffAction" class="com.yxs.crm.staff.web.action.StaffAction" scope="prototype">
        <property name="service" ref="staffService"/>
    </bean>

    <bean id="deptDao" class="com.yxs.crm.department.dao.impl.DeptDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="deptService" class="com.yxs.crm.department.service.impl.DeptServiceImpl">
        <property name="deptDao" ref="deptDao"/>
    </bean>
    <bean id="deptAction" class="com.yxs.crm.department.web.action.DeptAction" scope="prototype">
        <property name="service" ref="deptService"/>
    </bean>

    <bean id="postDao" class="com.yxs.crm.post.dao.impl.PostDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="postService" class="com.yxs.crm.post.service.impl.PostServiceImpl">
        <property name="postDao" ref="postDao"/>
    </bean>
    <bean id="postAction" class="com.yxs.crm.post.web.action.PostAction" scope="prototype">
        <property name="service" ref="postService"/>
    </bean>

    <tx:advice id="userAdvisor" transaction-manager="transactionManager">
    <tx:attributes>
    <tx:method name="*"/>
    </tx:attributes>
    </tx:advice>

    <!--配置切面-->
    <aop:config>
    <!--声明切点-->
    <aop:pointcut id="userPointCut" expression="execution(* com.yxs.crm.*.dao.impl.*.*(..))"/>
    <!--配置顾问-->
    <aop:advisor advice-ref="userAdvisor" pointcut-ref="userPointCut"/>
    </aop:config>
</beans>